body{
    margin: 0px;
}
header{
    background-color: black;
    height: 50px;
}
.logo{
    text-align: center;
}
nav{
    /* background-color: antiquewhite; */
    height: 50px;
    text-align: center;
    margin-top: 7px;
    line-height: 50px;
    text-transform:uppercase ;
    font-weight:bolder;
   }
   nav a{
    color: #000;
    margin: 1%;
    text-decoration: none;
   }
   nav a:hover{
    color: blue;
    text-decoration: underline ;
   }
   .active{
    color: blue;
    text-decoration: underline ;
   }
   .banner img{
    width: 100%;
    height: 500px;
    /* background-color: aqua; */
    margin-top: 5%;
   }
.banner-text{
    /* background-color: aqua; */
    position: absolute;
left: 60%;
top:500px;
font-size:30px;
font-weight: 800;
}
.title{
    font-size: 18px;
    padding: 2% 10px;
}
.title{
    background-color: white;
    font-size: 20px;
    /* width: 94%; */
    padding: 2% 22px;
    margin-bottom: 3%;
    display: inline-block;
    font-family: var(--font2);
}
.text-black{
    font-size: 20px;
    color: white;
    background-color: black;
    /* width: 80%; */
    display: inline-block;
    padding: 2% 20px;
    margin-bottom: 3%;
    font-family: Arial, Helvetica, sans-serif;
}
.text-black{
    font-size: 16px;
    padding: 2% 10px;
}

@media (max-width: 374px){
.banner-text{
    top: 30%;
}
.title{
    font-size: 16px;
    padding: 2% 5px;
}
.text-black{
    font-size: 14px;
    padding: 2% 5px;
}
}
.data{
    /* background-color: antiquewhite; */
    width: 70%;
    margin: 5% auto 3%;
display: flex;    
text-align: center;
flex-flow: row nowrap;

}
.data1{
    margin: auto;

}
.data1 img:hover{
    opacity: .8;

}
.data span{
display: block;
font-size: 25px;
font-weight: 900;
text-transform: uppercase;
}
/* ------------------------ */
footer{
    background-color: black;
    margin: 1% auto;
    height: 100px;
    display: flex;
    flex-flow: row nowrap;
}
.footer-text{
    /* background-color: burlywood; */
    width: 50%;
    height: 100px;
    color: white;
    text-align: center;
    line-height: 100px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
.footer-icons{
    /* background-color: chocolate; */
    height: 100px;
    width: 50%;
    text-align: center;
    padding-top: 30px;
}
.footer-icons a{
    /* background-color: yellowgreen; */
    width: 44px;
    height: 44px;
    display: inline-block;
    margin-right: 2%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.tw{
    background-image: url("../images/icons/icon-twitter.jpg");
}
.face{
    background-image: url("../images/icons/icon-facebook.jpg");
}
.plus{
    background-image: url("../images/icons/icon-googleplus.jpg");
}
.ins{
    background-image: url("../images/icons/icon-pinterest.jpg");
}
.tw:hover{
    background-image: url("../images/icons/icon-twitter-hover.jpg");
}
.face:hover{
    background-image: url("../images/icons/icon-facebook-hover.jpg");
}
.plus:hover{
    background-image: url("../images/icons/icon-googleplus-hover.jpg");
}
.ins:hover{
    background-image: url("../images/icons/icon-pinterest-hover.jpg");
}
@media (max-width : 767px){
    footer{
        flex-flow: column wrap;
        height: 200px;
    }
    .footer-text{
        width: 100%;
        font-size: 18px;
    }
    .footer-icons{
        width: 100%;
    }
}
/* ---------------------------------------about----------------- */
.about{
    width: 90%;
    margin: auto;
}
.about-title{
    width: 100%;
}
.title-show{
    background-color: #000;
    color: #fff;
    width:fit-content;
    padding: 1%;
    margin: auto;
    font-size: 40px;
    border-radius: 10px;
}

.title-show:hover{
    scale: 2, 2;
    background-color: #d7deaa;
    color: #000;
}
.about-banner{
    width: 55%;
    margin:2% auto;
    background-color: aqua;
    text-align: center;
    border: #000 solid 1px;
    height: 400px;
}
.about-banner img{
    width: 100%;
    height: 100%;
}
.about-data{
    text-align: center;
    padding: 1px;
    /* background-color: #d7deaa; */
    width: 50%;
    margin: 2% auto;
    line-height: 30px;
}
.about-data span{
    font-weight: 800;
    display: block;
}
/* --------------------------gallery------------------------------ */
.gallery{
    /* background-color: aqua; */
    width: 80%;
    margin: auto;
    /* display: flex; */
    flex-wrap: nowrap;
    text-align: center;
}
.gallery-show{
    display: block;
    font-weight: 900;
    font-size: 40px;
    color: #fff;
    background-color: black;
    width:fit-content;
    margin: 1% auto;
    padding:1%;
}
.gdallery-ata{
    
    width: 90%;
    display: flex;
    /* background-color: rgb(242, 142, 142); */
    /* margin: 2px; */
    flex-wrap: wrap;
    margin: 2% auto;

}
.gdallery-ata div img:hover{opacity: 1;}
.gdallery-ata div img{
    opacity: .9;
    width:100%;
    height: 100%;
    border: #000 solid 1px;
}
.gdallery-ata div{

    width: 30%;
    background-color: aquamarine;
    margin: 2% auto;


}